@import '../../Utils/variables.scss';
@import '../../Utils/mixins.scss';

.Projects {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 5;

  &__art {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  &__abstract {
    width: 101%;
    @include center;
    @include desktop-styles {
      top: 62%;
    }

    @include tablet-styles {
      top: 50%;
    }
    
    &--path {
      stroke-dasharray: 1850;
      stroke-dashoffset: 0;
    }
  }

  &__projectAbstract {
    @include center;

    &--1 {
      // height: 100%;
      width: 100%;
      &--path {
        stroke-dasharray: 2680 2680;
        stroke-dashoffset: 2680;
      }
    }
    
    &--2 {
      height: 125%;
      &--path {
        stroke-dasharray: 5150 5150;
        stroke-dashoffset: 5150;
      }
    }
    
    &--3 {
      // height: 100%;
      width: 100.5%;
      &--path {
        stroke-dasharray: 2735 2735;
        stroke-dashoffset: 2735;
      }
    }

    &--4 {
      height: 135%;
      &--path {
        stroke-dasharray: 2440 2440;
        stroke-dashoffset: 2440;
      }
    }

    &--5 {
      // height: 135%;
      width: 102%;
      &--path {
        stroke-dasharray: 2760 2760;
        stroke-dashoffset: 2760;
      }
    }
  }

  &__wrapper {
    @include center;
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 45% auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: 
      "project1Info . project3Info . project5Info"
      "project1Photo project2Photo project3Photo project4Photo project5Photo"
      ". project2Info . project4Info .";
  }

  &__photo {
    background-size: cover;
    $borderRadius: 5px;
    filter: brightness(1) grayscale(0%);
    z-index: 1;

    &--1 {
      background-position-x: 40%;
      border-radius: $borderRadius 0 0 $borderRadius;
      grid-area: project1Photo;
    }
    
    &--2 {
      background-position-x: 5%;
      grid-area: project2Photo;
    }

    &--3 {
      background-position-x: 15%;
      grid-area: project3Photo;
    }

    &--4 {
      background-position-x: 15%;
      grid-area: project4Photo;
    }

    &--5 {
      background-position-x: 45%;
      border-radius: 0 $borderRadius $borderRadius 0;
      grid-area: project5Photo;
    }
  }

  &__info {
    font-size: 20pt;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &--1, &--3, &--5 { justify-content: flex-end; }
    &--2, &--4       { justify-content: flex-start; }

    &--1 { grid-area: project1Info; }
    &--2 { grid-area: project2Info; }
    &--3 { grid-area: project3Info; }
    &--4 { grid-area: project4Info; }
    &--5 { grid-area: project5Info; }
  }

  &__name {
    font-size: 22pt;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 0 5px $shadow-color;
  }

  &__id {
    font-family: "HelveticaBold";
    width: 8em;
    position: absolute;
    z-index: -1;
    opacity: 0;

    &--1 {
      top: 20%;
      right: 45%;
    }

    &--2 {
      top: 25%;
      right: 55%;
    }

    &--3 {
      top: 20%;
      left: 65%;
    }

    &--4 {
      top: 25%;
      left: 70%;
    }

    &--5 {
      top: 20%;
      left: 65%
    }
  }

  &__line {
    width: 2px;
    background-color: $primary-text-color;
    justify-self: center;

    &--1, &--3, &--5 { margin-top: 0.2em; }
    &--2, &--4       { margin-bottom: 0.2em; }

    &--1 { height: 50%; }
    &--2 { height: 40%; }
    &--3 { height: 30%; }
    &--4 { height: 40%; }
    &--5 { height: 40%; }
  }

}