.ProjectLink {
  margin-bottom: 1.7em;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 35px auto;
  column-gap: 15px;
  grid-template-areas: 
    "id name"
    "id desc";

  &__name {
    grid-area: name;
    font-size: 30pt;
    font-family: "ObjectSans";
    font-weight: bold;
    font-style: italic;
    color: #E3E3E3;
  }

  &__shortDesc {
    grid-area: desc;
    font-size: 10pt;
    font-family: "ObjectSans";
    font-style: italic;
    color: #D3D3D3;
    margin-top: 0.4em;
    line-height: 1.2em;
  }

  &__wrapper {
    grid-area: id;
    justify-self: center;
    position: relative;
    width: 100%;
    margin-top: 0.4em;
    transition: 0.3s;
  }
  
  &__line {
    border-top: solid #999999 1px;
    height: 1px;
  }

  &__id {
    font-family: "HelveticaBold";
    color: #AAAAAA;
    width: 3.8em;
    position: absolute;
    top: 0.7em;
    left: 0.3em;
  }
}
