.Projects {
  font-size: 12pt;
  // height: 270%;
  position: relative;

  &__art {
    height: 100vh;
    width: 35%;
    overflow: hidden;
    position: absolute;
    right: 0;
    z-index: 1;
  }
  
  &__abstract {
    height: 100%;
    position: absolute;
    right: 0;
    filter: saturate(200%);
    
    &--path {
      stroke-dasharray: 745;
      stroke-dashoffset: -745;
    }
  }

  &__glow {
    height: 40em;
    position: absolute;
    top: -2.6em;
    filter: saturate(120%);
  }

  &__wrapper {
    width: 65%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
  }

  &__Skim {
    // filter: invert(100%);
    position: absolute;
    z-index: 1;
  }
}