.Projects {
  font-size: 12pt;
  height: 270%;
  position: relative;

  &__art {
    font-size: 17pt;
    height: 38em;
    width: 8em;
    overflow: hidden;
    position: absolute;
    right: 0;
  }
  
  &__abstract {
    height: 35em;
    position: absolute;
    left: 2.4em;
    filter: saturate(200%);
    
    &--path {
      stroke-dasharray: 740;
      stroke-dashoffset: -740;
    }
  }

  &__glow {
    height: 40em;
    position: absolute;
    top: -2.6em;
    filter: saturate(120%);
  }

  &__wrapper {
    width: 65%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: space-between;
  }
}