@import "../../Utils/variables.scss";

.NavLink {
  font-size: 11pt;
  height: min-content;
  display: grid;

  &__line {
    background-color: $primary-text-color;
    width: 100%;
    height: 1px;
    align-self: center;
  }

  &__text {
    color: $primary-text-color;
    font-style: italic;
    text-transform: uppercase;
    white-space: pre-line;
    align-self: center;
    transition: 0.3s;
    
    &--left {
      padding-left: 1em;
    }

    &--right {
      padding-right: 1em;
    }

  }
  
  &:hover &__text {
    opacity: 0.5;
  }
}