.App {
  font-size: 5pt;
  height: 100%;
  position: relative;
}

.titleWrapper { 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#svgWrapper {
  margin: 0 auto;
  position: relative;
  left: 1%;
  /* top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 30em;
  height: 23em;
  animation: float 2.5s cubic-bezier(0.7, 0.22, 0.78, 0.93) 1s infinite alternate backwards;
}

#backGlow,
#frontGlow {
  width: 111%;
  position: absolute;
  animation: glow 3s cubic-bezier(0.7, 0.22, 0.78, 0.93) 1.3s infinite both;
}

#backGlow {
  top: -3%;
  left: -5%;
}

#frontGlow {
  top: 36%;
  left: -10%;
}

.backSvg,
.frontSvg {
  width: 100%;
  position: absolute;
}

.frontSvg {
  top: 38%;
  left: -5.5%;
}

#zakSvg {
  width: 80%;
  position: absolute;
  left: 9%;
  top: 30%;
  animation: reverseFloat 2.5s cubic-bezier(0.7, 0.22, 0.78, 0.93) infinite alternate;
}

.linePath {
  stroke-dasharray: 1000;
  animation: drawLine 1.3s ease both;
}

.title {
  font-size: 3em;
  font-family: "HelveticaBoldOutline";
  color: #a6a6a6;
  text-transform: uppercase;
  text-align: center;
  width: 11em;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1.8s ease backwards;
}

@keyframes drawLine {
  0% {
    opacity: 0;
    stroke-dashoffset: -500;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes float {
  0% {
    opacity: 0.8;
    transform: translate(0%, 0%);
    /* transform: translate(-50%, -48%); */
  }
  100% {
    opacity: 1;
    transform: translate(0%, 2%);
    /* transform: translate(-50%, -50%); */
  }
}

@keyframes reverseFloat {
  0% {
    transform: translateY(-3.5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.3;
  }
}
