.Home {
  font-size: 12pt;
  height: 100%;

  &__wrapper {
    font-size: 13pt; // modify to scale for screen sizes
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__art {
    position: relative;
    width: 10em;
    height: 9.5em;
  }

  &__glow {
    width: 15.8em;
    position: absolute;
    filter: saturate(120%);

    &--back {
      top: -1.8em;
      left: -2em;
    }

    &--front {
      top: 1.9em;
      left: -2.7em;
    }
  }

  &__abstract {
    width: 12em;
    position: absolute;
    filter: saturate(200%);

    &--back {
      top: 0em;
      left: -0.4em;
    }

    &--front {
      top: 3.5em;
      left: -1.1em;
    }

    &--path {
      stroke-dasharray: 239;
      stroke-dashoffset: 0;
    }
  }

  &__zak {
    width: 9.5em;
    position: absolute;
    left: 0.65em;
    top: 2.8em;
    transition: 0.3s;
  }

  &__headline {
    width: 14em;
    stroke-dasharray: 130;
    stroke-dashoffset: 0;
  }
}
