@import "../../Utils/variables.scss";
@import "../../Utils/mixins.scss";

.ContactForm {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  &__art {
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
  
  &__abstract {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%) scale(1.75);
    opacity: 0.5;
    // filter: saturate(200%);

    &--path {
      stroke-dasharray: 1122 1122;
      stroke-dashoffset: 0;
    }
  }

  &__form {
    width: 85%;
    font-size: 11pt;
    @include center;
    z-index: 1;
  }

  &__LetsTalk {
    height: 4.7em;
    padding-bottom: 0.3em;

    &--path {
      stroke-dasharray: 100 100;
    }
  }

  &__sendWrapper {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-areas: "errorMsg sendBtn";
  }

  &__input {
    font-family: "ObjectSans";
    font-size: 11pt;
    width: 100%;
    margin: 0 auto;
    color: $primary-text-color;
    @include gradient-border(#131313, #CECECE, #3B3B3B, 4px);

    padding: 1em;
    margin: 0.5em 0;
    outline: none;
    resize: none;
    box-shadow: 3px 4px 5px #121212;
    pointer-events: auto;

    &--message {
      height: 10em;
    }
  }
  
  &__send {
    grid-area: sendBtn;
    align-self: center;
    font-family: "ObjectSans";
    font-size: 1.18em;
    font-weight: bold;
    font-style: italic;
    background: none;
    color: $secondary-text-color;
    border: none;
    pointer-events: auto;
    outline: 0;
  }

  &__errorMessage {
    grid-area: errorMsg;
    align-self: center;
    padding: 0 0.2em;
    font-style: italic;
    color: $error-color;
  }

  &__Loader {
    transition: 0.6s;
  }

  &__success, &__failure {
    width: 75%;
    @include center;
    text-align: center;
    line-height: 1.35em;
    color: $secondary-text-color;
    transition: 1s;
    z-index: 2;
  }
  
  &__failure--email {
    color: $secondary-text-color;
    text-decoration: underline;
  }
  
}

.ReturnHomeBtn {
  @include gradient-border(#131313, #EA1A39, #3C1DF2);
  width: 8.5em;
  font-size: 11pt;
  font-style: italic;
  color: $primary-text-color;
  padding: 0.4em;
  margin: 1em auto;
}

// modifier class
.hasError {
  background-image: linear-gradient(#131313, #131313),
                    linear-gradient(90deg, $error-color, $error-color);
}

.noError {
  background-image: linear-gradient(#131313, #131313),
                    linear-gradient(90deg, #00FFBF, #FF13E0 75%, #FF1B7C);
}

.fade {
  transition: 0.2s;
  color: #3b3b3b;
  background-image: linear-gradient(#131313, #131313),
                    linear-gradient(90deg, #005e46, #530048 75%, #5e0029);
}