@import './Utils/variables.scss';

@font-face {
  font-family: "HelveticaBoldOutline";
  src: url("./Fonts/HelveticaBoldOutline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaBold";
  src: url("./Fonts/HelveticaBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ObjectSans";
  src: url("./Fonts/ObjectSansRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ObjectSans";
  src: url("./Fonts/ObjectSansSlanted.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ObjectSans";
  src: url("./Fonts/ObjectSansHeavy.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ObjectSans";
  src: url("./Fonts/ObjectSansHeavySlanted.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

html, body {
  margin: 0;
  height: 100%;
  font-size: 12pt;
  font-family: "ObjectSans";
  background-color: $background-color;
  // background-image: url('./SVGs/GrainTexture.svg');
  // background-blend-mode: hard-light;
  // background-size: cover;
  // background-attachment: fixed; // super laggy
  color: #C8C8C8;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

.App {
  min-height: 100%;
}

// modifier classes
.preventScroll {
  overflow-y: hidden;
}